{% extends "index1.html"%}
{%block cuerpo%}
<!DOCTYPE html PUBLIC >
<html>
<head>
<title>fotos</title>

</head>
<body  bgcolor="blue">
  

  
  <br>
  <br>
    <img src="/static/css/images/bra1.jpg" width='170' height='120'>
    <img src="/static/css/images/bra2.jpg" width='170' height='120'>
    <img src="/static/css/images/bra3.jpg" width='170' height='120'>
    <img src="/static/css/images/bra4.jpg" width='170' height='120'>
    <img src="/static/css/images/bra5.jpg" width='170' height='120'>
    <img src="/static/css/images/bra3.jpg" width='170' height='120'>
    <img src="/static/css/images/bra5.jpg" width='170' height='120'>
    <img src="/static/css/images/bra1.jpg" width='170' height='120'>
  <br>
    <center><a href=""><h1>Siguiente >></h1></center>
  
</div>

</body>
</html>
{% endblock %}