{% extends 'index1.html' %}
{% block cuerpo %}
{% block titulo %}
<table bgcolor="blue" border="10" width="705px" height="310px">
	<td>
	<br><center><h1>INGRESAR AL SISTEMA</h1></center>
{% endblock %}

	<br><br><center><div class="row" >
		<div class="span10"></div>
			<div class="span15">
				<br><form id='formulario' method='post' action=''>
					{% csrf_token%}
					<table><center>
						{{formulario}}
					</center>
					</table>
					<br><br><p><center> <input type='submit' value='ingresar'> </center>
					 
				</form>
			</div>
		<div class="span3"></div>

	</div>
	</td>
</table>	
{% endblock %}