{% extends 'index1.html' %}
{% block cuerpo %}
<span style="color: write;">
	<div class"row">
		<div class="span3"></div>
		<div class="span6">
			<center><h3><font face="rockwell" size=5px>Formulario de Registro de Usuario</font></h3><br>
			<form acion="" method="post" enctype='multipart/form-data' class="form-horizontal" style="color: blue;">
				{% csrf_token %}
				{% for dato in formu %}
					{{dato.errors}}
					<div class"control-group">
						{{dato.label_tag}}
						<div class="controls">
							{{dato}}
						</div>
					</div>
				{% endfor %}
				<br><br>
				<table align='center' >
					<tr>
						<td align='right' width=150px><button type="submit",value="Guardar">Guardar</button></td>
						<td align='center' width=150px></td>
						<td align='left' width=150px><button type="reset",value="Borrar">Borrar</button></td>
					</tr>
				</table>
			</form></center>
		</div>
		<div class="span3"></div>
	</div>
	<script type="text/javascript">
		$('label').addClass('control-label')
	</script>
{% endblock  %}