{%extends "index1.html"%}
{%block cuerpo%}

<!doctype html>
<head>
<title>Sport Zone</title>
<style type="text/css"> 
a:hover
{
background-color:yellow;
}
a:link {color:green;}
a:visited {color:red;}
a:active {color:yellow;}
</style> 
</head>
<body >
	<center><img src="/static/css/images/estadio2.jpg" width="705" height="315"></center>
<!-- Header -->
<br>
<br>
<br>
<a href='/preferencias/{{enc.id}}' style='position:absolute;top:30px;left:280px;' class='btn'><font color="orange" face="verdana"><h1>Preferencia</h1></font> </a>
<a href='/curvasur/{{enc.id}}' style='position:absolute;top:130px;left:55px;' class='btn'><font color="orange" face="verdana"><h1>Curva<br> Sur</h1> </font></a>
<a href='/generals/{{enc.id}}' style='position:absolute;top:230px;left:300px;' class='btn'><font color="orange" face="verdana"><h1>General</h1> </font></a>
<a href='/curvanorte/{{enc.id}}' style='position:absolute;top:130px;left:590px;' class='btn'><font color="orange" face="verdana"><h1>Curva<br> Norte</h1></font> </a>





</body>

{%endblock%}